/* 共通 */
/* div {
	border: 1px solid;
    border-color: #ff0000;
} */

a {
    text-decoration:none; 
}

.cusButton {
    width: auto;
    padding:0;
    margin:0;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fontBase {
    color : #ffffff
}

.baseWidth {
    width : 100%
}

.iframe {
    width : 100%;
    height : 61vw;
}
@media screen and (min-width : 768px) {
    .baseWidth {
        width: 90%
    }

    .iframe {
        width : 80%;
        height : 44vw;
    }
}

@media screen and (min-width : 1200px) {
    .baseWidth {
        width: 90%
    }

    .iframe {
        width : 70%;
        height : 33vw;
    }
}